---
title: Projects
subtitle: "Take a look at what we've done"
layout: default
sidebar: "<h2>Free as in freedom</h2>
<p>We open source our projects because we want people to use them for things we haven't even thought of doing yet. To encourage this, we make sure to license our projects under the most permissive <a href=\"http://www.opensource.org/licenses/\" title=\"OSI-Approved Licenses\">OSI-Approved License</a> we can. We don't want to cut off any avenue of innovation.</p>

<h2>Breaking down problems</h2>
<p>Generally, when we're building a project, we try to break it down into as many reusable components as we can. This makes our products more a process of building lots of little components, then tying them all together than of building a single-use product. We like the flexibility this gives us, and it makes it easy for us to release these projects for public use.</p>

<h2>Pull requests encouraged</h2>
<p>Part of what we love about open source is the community around it. We love engaging in that community, and so welcome pull requests on <a href=\"https://github.com/secondbit\" title=\"Second Bit on Github\">Github</a> from the community. If you think you can improve or expand one of our projects, we'd love your contribution. Just check the README in each repository for our submission process and criteria.</p>"
---
{% for project in site.categories.projects %}
<h2><a href="{{ project.url }}" title="More about {{ project.title }}">{{ project.title }}</a></h2>
{% if project.summary %}{{ project.summary }}{% else %}{{ project.content | split:"<!-- break -->" | first }}{% endif %}
{% endfor %}
