		<!-- Footer -->

		<div id="footer">
			<div id="footer-inner" class="inner-container">
				<div class="twothirds">
					<h4>A bit about us</h4>
					<p class="about-footer">Second Bit, LLC was founded in the Fall of 2010 with the central guiding goal of "let's make cool stuff". Since then, we've released products that have reached thousands of people and been covered by publications from the niche to the well-known. We believe in open source, freely available software, and work hard to Do The Right Thing.<br />
					<a href="/about">Learn more</a>.</p>
				</div> <!-- .twothirds -->
				<div class="onethird">
					<h4>Meet the Team</h4>

					{% for person in site.categories.team reversed %}{% if person.include_in_footer %}<p class="team-footer">
  					<img src="/images/team/thumbs/{{ person.slug }}.jpg" alt="{{ person.name.given }} {{ person.name.family }}" />
	  				<a style="color: #60727E;" href="/team/{{ person.slug }}" title="{{ person.name.given }} {{ person.name.family }}'s Profile">{{ person.name.given }} {{ person.name.family }}</a>
		  			<span>{{ person.position }}</span>
					</p>
					{% endif %}{% endfor %}
				</div> <!-- .onethird -->
				<div id="copyright">
					<p>Copyright &copy; 2010 Second Bit, LLC.</p>
				</div> <!-- #copyright -->
			</div> <!-- #footer-inner -->
		</div> <!-- #footer -->

		<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5063a999613f5d1d8a00000e');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
