	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>Second Bit - {% if page.title %}{{ page.title }}{% else %}Untapped Potential{% endif %}</title>

		{% if page.repo %}<meta name="go-import" content="secondbit.org{{ page.url }} git https://github.com/{{ page.repo }}">{% endif %}

		{% if page.summary %}<meta name="Description" content="{{ page.summary }}" />{% endif %}

		<meta property="fb:app_id" content="287197137963789" />
		<meta property="fb:admins" content="paddyforan,tino.galizio" />
		
		<link rel="image_src" href="/images/logo.png" />
		<link rel="stylesheet" href="/style/main.css" type="text/css" media="screen" />
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
