	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>Second Bit - {% if page.title %}{{ page.title }}{% else %}Untapped Potential{% endif %}</title>

		{% if page.repo %}<meta name="go-import" content="secondbit.org{{ page.url }} git https://github.com/{{ page.repo }}">{% endif %}

		<meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ content | strip_html | truncatewords:50 }}{% endif %}" />
		<meta name="Description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ content | strip_html | truncatewords:50 }}{% endif %}" />

		<meta property="fb:app_id" content="287197137963789" />
		
		<link rel="image_src" href="/images/logo.png" />
		<link rel="image_src" href="http://{{ site.domain }}{% if page.image %}{{ page.image }}{% else %}/images/logo.png{% endif %}" />
		{% if page.title %}<meta property="og:title" content="Second Bit{% if page.title %} - {{ page.title }}{% endif %}" />{% endif %}
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://{{ site.domain }}{{ page.url }}{% capture url_last %}{{ page.url | split:"" | last }}{% endcapture %}{% if url_last != "/" %}{% capture url_last_word %}{{ page.url | split:"/" | last }}{% endcapture %}{% unless url_last_word contains "." %}{% unless url_last_word == site.domain %}/{% endunless %}{% endunless %}{% endif %}" />
		<meta property="og:image" content="http://{{ site.domain }}{% if page.image %}{{ page.image }}{% else %}/images/logo.png{% endif %}" />
		<link rel="stylesheet" href="/style/main.css" type="text/css" media="screen" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="Second Bit Blog" href="http://secondbit.org/blog/feed.xml" />
	</head>
